# Compiled Object files
*.o
*.obj

# D coverge files
*.lst

# Compiled Dynamic libraries
*.so
*.dylib
//*.dll

# Backup files
*.bak

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# program database file for debugger
*.pdb
